* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  line-height: 3rem;
  background-color: #0e0f11; }

img {
  max-width: 100%; }

.contenedor {
  max-width: 980px;
  margin: 0 auto; }

h1 {
  color: #ece5e5;
  padding-bottom: 2rem;
  max-width: 60rem;
  line-height: 1;
  font-size: 4rem;
  color: #ece5e5; }

h2 {
  color: #ece5e5;
  padding-bottom: 2rem;
  max-width: 60rem;
  line-height: 1;
  font-size: 3rem;
  text-align: center;
  color: #1dc1d6;
  margin-top: 4rem;
  margin-bottom: 2rem; }

h3 {
  color: #ece5e5;
  padding-bottom: 2rem;
  max-width: 60rem;
  line-height: 1;
  font-size: 3rem; }

h4 {
  color: #ece5e5;
  padding-bottom: 2rem;
  max-width: 60rem;
  line-height: 1;
  font-size: 2.6rem; }

p {
  color: #e6dbdb;
  margin-bottom: 2rem; }

.site-header {
  background-color: #0e0f0f;
  padding: 1rem 0 3rem 0; }
  .site-header .contenido-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center; }
    .site-header .contenido-header h1 {
      font-weight: 300; }
  .site-header .barra {
    padding-top: 3rem; }
  .site-header .navegacion a {
    color: #e6dbdb;
    text-decoration: none;
    font-size: 2.2rem;
    display: block; }
    .site-header .navegacion a:hover {
      color: #030303; }

.site-header.inicio {
  background-image: url(../img/header.png);
  background-position: center center;
  background-size: cover;
  height: 60vh;
  min-height: 40rem; }

.navegacion a {
  color: white;
  text-decoration: none;
  font-size: 2rem;
  display: block;
  margin: 2rem, 2rem; }

a:last-of-type {
  margin: 0; }

a:hover {
  color: #0e77e8; }

.card-section {
  margin-bottom: 8rem;
  padding: 2rem 2rem; }

.card {
  margin-bottom: 1rem; }

.card-text {
  color: #252323; }

.card-img-top {
  width: 100%;
  height: auto;
  object-fit: cover; }

.text-margin {
  margin: 0 40px; }

.small-img {
  width: 100%;
  height: auto; }

#carouselExampleInterval {
  width: 80%;
  margin: 6rem 6rem; }
  #carouselExampleInterval .carousel-item img {
    width: 100%;
    height: auto; }
  #carouselExampleInterval img {
    width: 100%; }

.text-center {
  text-align: center; }

.fw-300 {
  font-weight: 300; }

.centered-content {
  max-width: auto; }

.site-footer {
  background-color: #0e0f0f;
  margin: 2rem; }

.footer-content {
  padding: 3rem 0;
  display: flex;
  justify-content: space-between; }

.copyright {
  color: #e6dbdb;
  margin-top: 2rem; }

input:not([type="submit"]) {
  font-size: 14px;
  color: #0e0f0f;
  margin: 1.5rem 0 0 0;
  padding: 1rem;
  display: block;
  width: 95%;
  background-color: #c6d6d5;
  margin-bottom: 1.5rem;
  border: none;
  border-radius: 5px; }

textarea {
  font-size: 14px;
  color: #0e0f0f;
  margin: 1.5rem 0 0 0;
  padding: 1rem;
  display: block;
  width: 95%;
  background-color: #c6d6d5;
  margin-bottom: 1.5rem;
  border: none;
  border-radius: 5px;
  height: 20rem; }

select {
  font-size: 14px;
  color: #0e0f0f;
  margin: 1.5rem 0 0 0;
  padding: 1rem;
  display: block;
  width: 95%;
  background-color: #c6d6d5;
  margin-bottom: 1.5rem;
  border: none;
  border-radius: 5px;
  appearance: none; }

legend {
  font-size: 18px;
  color: #e6dbdb; }

label {
  font-weight: 700;
  text-transform: uppercase;
  display: block; }

input[type="radio"] {
  width: auto;
  margin: 0; }

.forma-contacto {
  max-width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

@media (max-width: 768px) {
  .contenedor {
    width: 80%; }
  .navegacion {
    flex-direction: column;
    text-align: center; }
  .copyright {
    margin-top: 3rem; } }

@media (min-width: 768px) {
  .site-header .contenido-header {
    text-align: center; }
  .site-header .barra {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .site-header .navegacion a {
    display: inline-block;
    font-size: 1.8rem;
    margin-right: 2rem; }
    .site-header .navegacion a:last-of-type {
      margin: 0; } }
