* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	box-sizing: border-box;
	font-size: 62.5%;
}
body {
	font-family: $font-family_1;
	font-size: 1.6rem;
	line-height: 3rem;
	background-color: $background-color_1;
}
img {
	max-width: 100%;
}
.contenedor {
	max-width: 980px;
	margin: 0 auto;
	text-align: center;
	.navegacion {
		a {
			display: inline-block;
			margin-right: 1rem;
		}
	}
}
h1 {
	color: $color_1;
	padding-bottom: 2rem;
	max-width: 60rem;
	line-height: 1;
	font-size: 4rem;
}
h2 {
	color: $color_2;
	padding-bottom: 2rem;
	max-width: 60rem;
	line-height: 1;
	font-size: 3rem;
	text-align: center;
	margin-top: 4rem;
	margin-bottom: 2rem;
}
h3 {
	color: $color_1;
	padding-bottom: 2rem;
	max-width: 60rem;
	line-height: 1;
	font-size: 3rem;
}
h4 {
	color: $color_1;
	padding-bottom: 2rem;
	max-width: 60rem;
	line-height: 1;
	font-size: 2.6rem;
}
p {
	color: $color_3;
	margin-bottom: 2rem;
}
.site-header {
	background-color: $background-color_2;
	padding: 1rem 0 3rem 0;
	.contenido-header {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		text-align: center;
		h1 {
			font-weight: 300;
		}
	}
	.barra {
		padding-top: 3rem;
	}
	.navegacion {
		a {
			color: $color_3;
			text-decoration: none;
			font-size: 2.2rem;
			display: block;
			&:hover {
				color: $color_4;
			}
		}
	}
}
.site-header.inicio {
	background-image: url(../img/header.png);
	background-position: center center;
	background-size: cover;
	height: 60vh;
	min-height: 40rem;
}
.navegacion {
	a {
		color: $color_5;
		text-decoration: none;
		font-size: 2rem;
		display: block;
		margin: 2rem, 2rem;
	}
}
a {
	&:last-of-type {
		margin: 0;
	}
	&:hover {
		color: $color_6;
	}
}
