$color_1: #ece5e5;
$color_2: #1dc1d6;
$color_3: #e6dbdb;
$color_4: #030303;
$color_5: white;
$color_6: #0e77e8;
$color_7: #252323;
$color_8: #0e0f0f;
$font-family_1: "Lato", sans-serif;
$background-color_1: #0e0f11;
$background-color_2: #0e0f0f;
$background-color_3: #c6d6d5;

@import "header";
@import "footer";

/*CARDS*/
.container-fluid {
	margin-bottom: 1rem;
	padding: 1rem 1rem;
}
	.card {
	width: 100%;
	text-align: center;
	display: flex;
	overflow: hidden;
	animation: ease-in-out;
	transform-origin: center;
	margin-bottom: 1rem;
	&:hover {
		transform: scale(1);
		cursor:pointer;
	  }
	img {
	width: 100%;
	display: block;
	margin: 0 auto;
	}
	.card-body {
margin-bottom: 2rem;
	}
	}
.card-section {
	margin-bottom: 1rem;
	padding: 1rem 1rem;
}
.card-text {
	color: $color_7;
	text-align: center;
	align-content: space-between;
}
.card-img-top {
	width: 100%;
	object-fit: cover;
}
.text-margin {
	margin: 0rem 4rem;
	margin-bottom: 6rem;
}
.small-img {
	width: 100%;
}
#carouselNosotros {
	.carousel-item {
		img {
			width: 50%;
			align-items: center;
		}
	}
}
.text-center {
	text-align: center;
}
.fw-300 {
	font-weight: 300;
}
.centered-content {
	max-width: auto;
}

//FORMULARIO DE CONTACTO
input:not([type="submit"]), textarea, select {
	font-size: 14px;
	color: #0e0f0f;
	margin: 1.5rem 0 0 0;
  }
  
  legend {
	font-size: 3rem;
	color: $color_2;
	margin: 2rem;
  }
  
  label {
	font-weight: 700;
	text-transform: uppercase;
	display: block;
  }
  
  input:not([type="submit"]), textarea, select {
	padding: 1rem;
	display: block;
	width: 95%;
	background-color: $background-color_3;
	margin-bottom: 1.5rem;
	border: none;
	border-radius: 5px;
  }
  
  input[type="radio"] {
	width: auto;
	margin: 0;
  }
  
  select {
	appearance: none;
  }
  
  textarea {
	height: 20rem;
  }
  
  .forma-contacto {
	max-width: 600px;
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  input[type="submit"] {
	background-color: $background-color_3;
	border-radius: 20px;
	margin: 1rem;
	padding: 1rem;
	border: none;
	color: $color_8;
	text-align: center;
	&.button {
	  display: block;
	  margin: 0 auto;
	}
  }
/*MEDIA QUERIES*/  
  
@media (max-width: 768px) {
	.contenedor {
		width: 80%;
	}
	.navegacion {
		flex-direction: column;
		text-align: center;
	}
	.copyright {
		margin-top: 3rem;
	}
}
@media (min-width: 768px) {
	.site-header {
		.contenido-header {
			text-align: center;
		}
		.barra {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		.navegacion {
			a {
				display: inline-block;
				font-size: 1.8rem;
				margin-right: 2rem;
				&:last-of-type {
					margin: 0;
				}
			}
		}
	}
}