$color_1: #ece5e5;
$color_2: #1dc1d6;
$color_3: #e6dbdb;
$color_4: #030303;
$color_5: white;
$color_6: #0e77e8;
$color_7: #252323;
$color_8: #0e0f0f;
$font-family_1: "Lato", sans-serif;
$background-color_1: #0e0f11;
$background-color_2: #0e0f0f;
$background-color_3: #c6d6d5;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	box-sizing: border-box;
	font-size: 62.5%;
}
body {
	font-family: $font-family_1;
	font-size: 1.6rem;
	line-height: 3rem;
	background-color: $background-color_1;
}
img {
	max-width: 100%;
}
.contenedor {
	max-width: 980px;
	margin: 0 auto;
	text-align: center;
	.navegacion {
		a {
			display: inline-block;
			margin-right: 1rem;
		}
	}
}
h1 {
	color: $color_1;
	padding-bottom: 2rem;
	max-width: 60rem;
	line-height: 1;
	font-size: 4rem;
}
h2 {
	color: $color_2;
	padding-bottom: 2rem;
	max-width: 60rem;
	line-height: 1;
	font-size: 3rem;
	text-align: center;
	margin-top: 4rem;
	margin-bottom: 2rem;
}
h3 {
	color: $color_1;
	padding-bottom: 2rem;
	max-width: 60rem;
	line-height: 1;
	font-size: 3rem;
}
h4 {
	color: $color_1;
	padding-bottom: 2rem;
	max-width: 60rem;
	line-height: 1;
	font-size: 2.6rem;
}
p {
	color: $color_3;
	margin-bottom: 2rem;
}
.site-header {
	background-color: $background-color_2;
	padding: 1rem 0 3rem 0;
	.contenido-header {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		text-align: center;
		h1 {
			font-weight: 300;
		}
	}
	.barra {
		padding-top: 3rem;
	}
	.navegacion {
		a {
			color: $color_3;
			text-decoration: none;
			font-size: 2.2rem;
			display: block;
			&:hover {
				color: $color_4;
			}
		}
	}
}
.site-header.inicio {
	background-image: url(../img/header.png);
	background-position: center center;
	background-size: cover;
	height: 60vh;
	min-height: 40rem;
}
.navegacion {
	a {
		color: $color_5;
		text-decoration: none;
		font-size: 2rem;
		display: block;
		margin: 2rem, 2rem;
	}
}
a {
	&:last-of-type {
		margin: 0;
	}
	&:hover {
		color: $color_6;
	}
}
.card-section {
	margin-bottom: 1rem;
	padding: 2rem 2rem;
}
.card {
	margin-bottom: 1rem;
}
.card-text {
	color: $color_7;
}
.card-img-top {
	width: 100%;
	height: auto;
	object-fit: cover;
}
.text-margin {
	margin: 0 40px;
	margin-bottom: 4rem;
}
.small-img {
	width: 100%;
	height: auto;
}
#carouselNosotros {
	.carousel-item {
		img {
			width: 50%;
			height: auto;
			align-items: center;
		}
	}
}
.text-center {
	text-align: center;
}
.fw-300 {
	font-weight: 300;
}
.centered-content {
	max-width: auto;
}
.site-footer {
	background-color: $background-color_2;
	margin: 2rem;
}
.footer-content {
	padding: 3rem 0;
	display: flex;
	justify-content: space-between;
}
.copyright {
	color: $color_3;
	margin-top: 2rem;
}
input {
	&:not([type="submit"]) {
		font-size: 14px;
		color: $color_8;
		margin: 1.5rem 0 0 0;
		padding: 1rem;
		display: block;
		width: 95%;
		background-color: $background-color_3;
		margin-bottom: 1.5rem;
		border: none;
		border-radius: 5px;
	}
}
textarea {
	font-size: 14px;
	color: $color_8;
	margin: 1.5rem 0 0 0;
	padding: 1rem;
	display: block;
	width: 95%;
	background-color: $background-color_3;
	margin-bottom: 1.5rem;
	border: none;
	border-radius: 5px;
	height: 20rem;
}
select {
	font-size: 14px;
	color: $color_8;
	margin: 1.5rem 0 0 0;
	padding: 1rem;
	display: block;
	width: 95%;
	background-color: $background-color_3;
	margin-bottom: 1.5rem;
	border: none;
	border-radius: 5px;
	appearance: none;
}
legend {
	font-size: 18px;
	color: $color_3;
}
label {
	font-weight: 700;
	text-transform: uppercase;
	display: block;
}
input[type="radio"] {
	width: auto;
	margin: 0;
}
.forma-contacto {
	max-width: 600px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
@media (max-width: 768px) {
	.contenedor {
		width: 80%;
	}
	.navegacion {
		flex-direction: column;
		text-align: center;
	}
	.copyright {
		margin-top: 3rem;
	}
}
@media (min-width: 768px) {
	.site-header {
		.contenido-header {
			text-align: center;
		}
		.barra {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		.navegacion {
			a {
				display: inline-block;
				font-size: 1.8rem;
				margin-right: 2rem;
				&:last-of-type {
					margin: 0;
				}
			}
		}
	}
}
