// Variables
$color-principal: #0e0f0f;
$color-secundario: rgba(3, 3, 3, 3);
$color-terciario: #e6dbdb;
$color-cuarto: #0e0f11;
$card-text-color: #252323;
$fuente-principal: 'Lato', sans-serif;
$fuente-secundaria: 'Lato', sans-serif;

//Breakpoints
$breakpoint-mac: 1200px;
$breakpoint-ipad: 1999;

// Variables Formulario
$form-width: 600px;
$font-size-base: 14px;
$gray-light: #c6d6d5;
$font-size-big: 18px;
$gray-lighter: #e0e0e0;
$gray-lightest: #f1f1f1;
$font-weight-bold: 700;
$spacer: 1rem;
$spacer-vertical: 1.5rem;
$border-radius-base: 5px;

