// Variables
$color-principal: #1e5ac9;
$color-secundario: rgba(3, 3, 3, 3);
$color-terciario: #ffffff;
$color-cuarto: #f3f6fa;
$fuente-principal: 'Lato', sans-serif;
$fuente-secundaria: 'Lato', sans-serif;


// Variables Formulario

$font-size-base: 14px;
$gray-light: #9e9292;
$font-size-big: 18px;
$gray-lighter: #e0e0e0;
$gray-lightest: #f1f1f1;
$font-weight-bold: 700;
$spacer: 1rem;
$spacer-vertical: 1.5rem;
$border-radius-base: 5px;

